<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    
    <div class="row" id="mars-info">
      <div class="col-md-12">
        <h4 class="heading">Mission to Mars Information</h4>
       <h2>{{mars_data.news_title}}</h2> 
        <small>{{mars_data.news_p}}</small><br>
        mars_data["news_p"] 

<br>
        {{mars_data.featured_image_url}}

<br>

        {{mars_data.mars_weather}}

<br>
        {{mars_data.mars_facts}}

<br>
        {{mars_data.hemisphere_image_urls}}
      </div>
    </div>

  </div>
</body>

</html>

